In [1]:
from eyevents.trajectories import Trajectories

## Загрузка всех траекторий из директории

In [2]:
EXPERIMENT_DATA_DIR = '../data/debug/debug_files/'

settings = dict(
    columns=dict(time = 't', porx = 'x', pory = 'y'),
    common=dict(
        size=[59, 33],
        resolution=[1920, 1080],
        distance=50,
        adjust_time=True, 
        normalized=True,
        reference_point=None,
    ),
    velocity=dict(
        velocity_type='analytical',
        window=15
    ),
    loading = dict(sep=',', decimal='.', skiprows=0, header=0),
    smoothing = dict(
        window=15,
        center=False,
        method='median',
        order=2,
        fillna=True
    ),
    oculus = dict(
        method='IVT',
        velocity_threshold=30,
    )
)

trjs = Trajectories(EXPERIMENT_DATA_DIR, settings)

D:\PyProj\university\Eyevents\modules\python\eyevents\summariser.py:176: RuntimeWarning: divide by zero encountered in double_scalars
  d = (y1 - y0) / (x1 - x0)

## Параметры саккад (всех и интегральные по файлам)

In [3]:
trjs.all_saccades.head()

,nsamples,duration,amplitudeX,amplitudeY,amplitude,pathLength,curvature,peakVelocity,meanVelocity,centerX,centerY,orientation,code
0,9,0.134760,8.174052,3.168342,8.766614,8.951347,1.021072,91.952618,50.809490,15.419203,17.422470,Horisontal,file (1)
1,11,0.160650,11.196756,4.986324,12.256866,12.384385,1.010404,99.935013,64.901443,16.553669,15.424936,Horisontal,file (1)
2,5,0.006444,0.257717,0.155765,0.301132,0.301132,1.000000,101.727822,70.156393,11.783006,18.260352,Diagonal,file (1)
3,12,0.017721,0.911913,1.169683,1.483153,2.858727,1.927466,96.816735,72.414855,11.458049,17.870780,Diagonal,file (1)
4,30,0.046719,0.764398,0.326092,0.831048,5.051413,6.078364,59.495556,47.544982,11.349114,17.345838,Horisontal,file (1)

In [4]:
trjs.total_saccades

,count,freq,horis,vertic,h_freq,v_freq,mean_dur,mean_amp,mean_vel,code
0,20,0.199066,11,3,0.109487,0.029860,0.092755,2.553750,103.076274,file (1)
1,29,0.288646,12,9,0.119440,0.089580,0.073981,2.717645,74.956299,file (2)
2,28,0.278693,17,9,0.169206,0.089580,0.131914,5.610937,85.370663,file (3)
3,32,0.320446,21,5,0.210293,0.050070,0.182328,8.630435,56.162313,file (4)
4,45,0.459028,35,6,0.357022,0.061204,0.178114,14.658310,64.855338,file (5)
5,110,1.122069,93,3,0.948658,0.030602,0.173926,15.543252,66.487734,file (6)
6,29,0.311099,25,2,0.268189,0.021455,0.144448,7.238228,43.821977,file (7)
7,24,0.240257,15,9,0.150161,0.090096,0.109192,4.226874,38.105874,file (8)
8,25,0.255016,15,7,0.153009,0.071404,0.105330,5.508707,38.734053,file (9)

## Параметры фиксаций (всех и интегральные по файлам)

In [5]:
trjs.all_fixations.head()

   nsamples   duration    centerX    centerY       area      code
0      2798  45.466310  11.631562  17.668543  14.420980  file (1)
1        32   0.524900  20.926958  14.885079   1.873223  file (1)
2      3342  54.100950  11.559157  18.690375  21.910094  file (1)
3         3   0.003222  11.989180  18.563551   0.000000  file (1)
4         6   0.008055  10.789837  17.467010   0.003856  file (1)

In [6]:
trjs.total_fixations

   count      freq   total_dur  mean_dur        area  mean_area      code
0     20  0.199066  100.267759  5.013388   38.497456   1.924873  file (1)
1     29  0.288646   99.891091  3.444520  114.588172   3.951316  file (2)
2     28  0.278693   98.031167  3.501113  145.558782   5.198528  file (3)
3     33  0.330460   92.996090  2.818063  226.270317   6.856676  file (4)
4     46  0.469229   88.860390  1.931748  322.604083   7.013132  file (5)
5    111  1.132269   77.054190  0.694182  586.384289   5.282741  file (6)
6     30  0.321827   88.092280  2.936409  299.780311   9.992677  file (7)
7     25  0.250268   96.499540  3.859982  402.934858  16.117394  file (8)
8     26  0.265216   94.608910  3.638804  373.840272  14.378472  file (9)